body {
    font-size: 15px;
    line-height: 1.7;
}
p {
    margin: 25px 0;
}
.adresse-physique {
    border-left: 1px solid #C5C5C5;
    padding-left: 10px;
    margin: 15px 0 30px 20px;
}
.secretariat-contact {
    padding: 3px 5px;
    margin-right: 8px;
}
.google-maps {
    position: relative;
    padding-bottom: 60%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
footer {
    padding: 0;
    margin-top: 100px;
    border-top: 1px solid #C5C5C5;
}
.margin-top-50 {
    margin-top: 50px;
}
.badge-lieu {
    margin-top: -3px;
    padding: 5px 10px;
    margin-right: 5px;
}

.col-vertical-center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.charte__container {
    height:100%;
    border-left: 3px solid transparent;
    margin-bottom: 25px;

    @media only screen and (max-device-width : 768px) {
        margin-left: 10px;
    }
}

.charte__titre-presentation {
    margin: 40px 0 70px 0;
}

.charte__titre {
    font-family: 'Martel', serif;
    font-weight: 700;
    line-height: 1.6em;
    margin: 20px 0;
    font-size: 19px;
}
